
<body>
   <div class="main portfolio">
<div id="myCarousel" class="carousel slide" data-ride="carousel"> 
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class=""></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item"> <img src="..//img/slide1.jpg">
    </div>
    <div class="item"> <img src="..//img/slide2.jpg">
      
    </div>
    <div class="item active"> <img src="..//img/slide3.jpg">
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> </div>
     <div class="container">
    <div class="row"> 
      <a class="col-md-6 project" href="#"> 
        <div class="thumbnail-header"> 
          <div class="thumbnail-header-btn">
          </div>
          <div class="thumbnail-header-btn">
          </div>
          <div class="thumbnail-header-btn">
          </div> 
        </div> 
        <div class="thumbnail">
          <img  src="..//img/project01.jpg">
        </div>
        <h3>TravelGo’s Booking App</h3>
        <p>NGO liberal change-makers global time of extraordinary change, prevention climate change mobilize shift. Communities, social movement United Nations, Oxfam planned giving Global South humanitarian. Maximize.</p>
      </a> 
      <a class="col-md-6 project" href="#">
        <div class="thumbnail-header"> 
          <div class="thumbnail-header-btn">
          </div> 
          <div class="thumbnail-header-btn">
          </div> 
          <div class="thumbnail-header-btn">
          </div> 
        </div>
        <div class="thumbnail">
        <img src="..//img/project02.jpg"> 
        </div> <h3>Breather’s Reservation Site</h3> 
        <p>Pursue these aspirations free-speech healthcare sharing economy freedom. Beneficiaries gender rights raise awareness change movements provide. Eradicate, diversification inspire breakthroughs, incubation; solve Peace Corps. Innovate.</p>
      </a> 
    </div> 
    <div class="row"> <a class="col-md-6 project" href="#">
      <div class="thumbnail-header"> <div class="thumbnail-header-btn">
        </div> 
        <div class="thumbnail-header-btn">
        </div>
        <div class="thumbnail-header-btn">
        </div>
      </div>
      <div class="thumbnail">
      <img src="..//img/project03.jpg">
      </div>
      <h3>EnVogue Events’ Portfolio</h3>
      <p>Informal economies; underprivileged, grantees transformative prosperity. Education best practices connect achieve plumpy'nut. Action Against Hunger; save the world, combat HIV/AIDS crowdsourcing eradicate inclusive facilitate collaborative.</p> 
      </a> 
      <a class="col-md-6 project" href="#">
        <div class="thumbnail-header">
          <div class="thumbnail-header-btn">
          </div>
          <div class="thumbnail-header-btn">
          </div> 
          <div class="thumbnail-header-btn">
          </div>
        </div> 
        <div class="thumbnail"> 
        <img  src="..//img/project04.jpg"> 
        </div> <h3>Gauntlet Gallery</h3>
        <p>Small-scale farmers; collaborative cities Bill and Melinda Gates best practices equity health theory of social change human experience. Tackle rural development relief worldwide respect, economic.</p> 
      </a> </div> <div class="row">
    <a class="col-md-6 project" href="#">
      <div class="thumbnail-header">
        <div class="thumbnail-header-btn">
        </div> 
        <div class="thumbnail-header-btn">
        </div>
        <div class="thumbnail-header-btn">
        </div>
      </div>
      <div class="thumbnail"> 
        <img src="..//img/project05.jpg">
      </div>
      <h3>Koi Pond Online Visitors Guide</h3>
      <p>UNICEF, research Ford Foundation outcomes collaborative consumption turmoil change lives. Tackling, dignity, world problem solving small-scale farmers complexity rural. Emergent humanitarian, necessities effect, challenges of.</p>
    </a> 
    <a class="col-md-6 project" href="#">
      <div class="thumbnail-header">
        <div class="thumbnail-header-btn">
        </div>
        <div class="thumbnail-header-btn">
        </div>
        <div class="thumbnail-header-btn">
        </div> 
      </div>
      <div class="thumbnail">
      <img  src="..//img/project06.jpg"> 
      </div>
      <h3>Academy of Sciences  Newsletter</h3>
      <p>Aid collaborative global network overcome injustice honesty measures. Environmental, social impact carbon rights combat HIV/AIDS transform the world social innovation local effect. Free expression committed.</p>
    </a> 
    </div> 
  </div>
</div>
</body>
